# Binaries and Intermedaites
**/binaries
**/intermediates
*.exe
*.dll
*.lib

*.log

*.ovd

**/models
**/textures

# IntelliJ
*.idea/

# VSCode
*.vscode/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj